/node_modules
/public/blog/fonts/*
/public/blog/panel/fonts/*
/public/fonts/*
/public/panel/fonts/*
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
